/* @media(max-width: 1150px) {
  h1 {
      font-size:30px
  }

  h4 {
      font-size: 22px
  }

  .section1-div p {
      font-size: 18px
  }

  h2 {
      font-size: 25px
  }

  .section1-text p {
      font-size: 18px
  }

  .section1-text:hover p {
      margin: 0;
      font-size: 17.5px
  }

  h3 {
      font-size: 35px
  }

  .footer-column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 50%
  }

  .footer-box {
      width: 100%;
      margin: 1em 0
  }

  .header-icon {
      max-width: 45px;
      top: 8%
  }
}

@media (max-width: 1000px) {
  .section2-text p {
      width:60%
  }
}

@media (max-width: 900px) {
  .contactus-form-column {
      width: 100%;
  }

  .contactus-form {
      width: 100%;
      height: 100vh;
  }

  h1 {
      color: #fff;
      font-size: 37px;
      opacity: .8;
      line-height: 1.7;
      width: 100%;
      font-family: 'BPG Classic Medium';
      text-align: left
  }

  h2 {
      color: #fff;
      font-size: 28px;
      line-height: 1.1;
      margin-bottom: 20px;
      font-family: 'BPG Classic Medium';
      line-height: 1.7
  }

  h3 {
      font-size: 30px
  }

  h4 {
      font-size: 24px
  }

  .section2-text p {
      width: 70%;
      font-size: 18px
  }

  .allinone,.section1-div,.section1-text-header,.section1,.section2-text,.section2-col,.section4,.section4-forms,.footer,.footer-column,.about-us-col,.contactus {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column
  }

  .section1-text-header {
      width: 80%;
      margin: 0 auto
  }

  .section1-text-header p {
      text-align: left
  }

  .section1 {
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch
  }

  .section1-div img {
      width: 100%
  }

  .section1-text {
      width: 100%
  }

  .order1 {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1
  }

  .order2 {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2
  }

  .section1-image {
      width: 100%
  }

  .section1-text {
      margin-top: 20px
  }

  .section2-column {
      width: 100%
  }

  .sct3 {
      width: 21%
  }

  .section3-div span {
      -webkit-transform: rotateY(calc(var(--i)* 73deg)) translateZ(180px);
      transform: rotateY(calc(var(--i)* 73deg)) translateZ(180px)
  }

  .contactus {
      width: 95%
  }

  .message1 {
      width: 100%
  }

  textarea {
      height: 150px
  }

  .form-col {
      width: 100%
  }

  .form-columns {
      margin-bottom: 10px
  }

  .section4-icon1 {
      width: 16%
  }

  .section4 p {
      width: 80%;
      font-size: 18px
  }

  .about-us-col img {
      width: 100%
  }

  .about-us-col div {
      width: 100%
  }
}

@media(max-width: 690px) {
  .burgerbar {
      display:block
  }

  .navigation ul {
      display: none;
      width: 100%
  }

  .nav-links {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 10px auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column
  }

  .section1-text-header {
      width: 80%;
      margin: 0 auto
  }

  .section1-div p {
      font-size: 17px
  }

  .section2-image {
      max-width: 130px;
      width: 100%
  }

  .section2-column p {
      font-size: 18px
  }

  .section4 p {
      width: 100%;
      font-size: 18px;
      text-align: left
  }
}

@media(max-width: 490px) {
  h1 {
      font-size:25px
  }

  h2 {
      font-size: 22px
  }

  h3 {
      font-size: 22px
  }

  h4 {
      font-size: 20px
  }

  .section1-text p {
      font-size: 16px
  }

  .section1-text:hover p {
      margin: 0;
      font-size: 15.5px
  }

  .section1-div p {
      font-size: 16px
  }

  .section2-image {
      max-width: 80px;
      width: 100%
  }

  .sct3 {
      width: 30%
  }

  .section3-div span {
      -webkit-transform: rotateY(calc(var(--i)* 73deg)) translateZ(100px);
      transform: rotateY(calc(var(--i)* 73deg)) translateZ(100px)
  }
}

@media(max-width: 390px) {
  h1 {
      font-size:22px
  }

  .section1-div p {
      font-size: 16px
  }
} */
